{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

<title>Portal dos Alunos</title> {#Aluno#}
</head>

<body>

  {% include "pages/header.html" %} {#Menu do programa#} 

  <h1>Portal dos Alunos</h1>
  <section>
    <div class='grids' onclick="notas()">
      notas
    </div>
    <div class='grids' onclick="desempenho()">
      desempenho
    </div>
    <div class='grids' onclick="frequencia()">
      frequencia
    </div>
    <div class='grids' onclick="avaliacao()">
      avaliacao
    </div>
    <div class='grids' onclick="lista()">
      lista de alunos
    </div>
  </section>

  <script>
    function notas() {
      window.location.replace("{% url 'notas' %}")
    }
    function desempenho() {
      window.location.replace("{% url 'desempenho' %}")
    }
    function frequencia() {
      window.location.replace("{% url 'frequencia' %}")
    }
    function avaliacao() {
      window.location.replace("{% url 'avaliacao' %}")
    }
    function lista() {
      window.location.replace("{% url 'lista' %}")
    }
  </script>
</body>

</html>