{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

<title>Portal dos Alunos</title> {#Aluno#}
</head>

<body>

  <header>
    <a href="http://127.0.0.1:8000/" class='logo'>
      <h1><i class="fa-solid fa-school icon"></i>Lyceum Escolar</h1>
    </a>
    <nav>
      <ul>
        <li><a href="{% url 'alunos' %}">Alunos</a></li>
        <li><a href="{% url 'disciplinas' %}">Disciplinas</a></li>
        <li><a href="{% url 'calendario_academico' %}">Calendário Acadêmico</a></li>
        <li><a href="{% url 'perfil' %}">Perfil do professor</a></li>
      </ul>
    </nav>
  </header>

  <section>
    <div class='grids' onclick="notas()">
      notas
    </div>
    <div class='grids' onclick="desempenho()">
      desempenho
    </div>
    <div class='grids' onclick="frequencia()">
      frequencia
    </div>
    <div class='grids' onclick="avaliacao()">
      avaliacao
    </div>
  </section>

  <h1>Portal dos Alunos</h1>
  <p id='teste'>teste</p>

  <script>
    function notas() {
      window.location.replace("{% url 'notas' %}")
    }
    function desempenho() {
      window.location.replace("{% url 'desempenho' %}")
    }
    function frequencia() {
      window.location.replace("{% url 'frequencia' %}")
    }
    function avaliacao() {
      window.location.replace("{% url 'avaliacao' %}")
    }
  </script>
</body>

</html>