{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

<title>Calendário Acadêmico</title> {#calendario#}
{#<script type="text/javascript" src="script/main.js"></script> -------> isso aq é so um teste#}
</head>

<body>

  <header>
    <a href="http://127.0.0.1:8000/" class='logo'>
      <h1><i class="fa-solid fa-school icon"></i>Lyceum Escolar</h1>
    </a>
    <nav>
      <ul>
        <li><a href="{% url 'cadastro' %}">Cadastrar Alunos</a></li>
        <li><a href="{% url 'alunos' %}">Alunos</a></li>
        <li><a href="{% url 'disciplinas' %}">Disciplinas</a></li>
        <li><a href="{% url 'calendario_academico' %}">Calendário Acadêmico</a></li>
        <li><a href="{% url 'perfil' %}">Perfil do professor</a></li>

      </ul>
    </nav>
  </header>

  <div class="conteudo">
    <div class="calendario">
        <header>
          <h2 id="mes">Abril</h2>
          <a class="btn-ant" id="btn_prev"><</a>
          <a class="btn-pro" id="btn_next">></a>
        </header>
        <table>
          <thead>
            <tr>
              <td>Dom</td>
              <td>Seg</td>
              <td>Ter</td>
              <td>Qua</td>
              <td>Qui</td>
              <td>Sex</td>
              <td>Sab</td>
            </tr>
          </thead>
          <tbody id="dias">
            <tr>
              <td class="mes-anterior">1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
            <tr>
              <td>1</td>
              <td class="dia-atual">2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td class="proximo-mes">7</td>
            </tr>
          </tbody>
        </table>
    </div>
    
  </div>
  <h1>calendário</h1>



</body>

</html>