{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

</head>
<body>
    <header>
        <a href="#" class = 'logo'><h1><i class="fa-solid fa-school icon"></i>Lyceum Escolar</h1></a>
            <nav>
                <ul>
                    <li><a href="alunos/">Alunos</a></li>  {# Notas, Presença, Avaliação de desempenho, Informações#}
                    <li><a href="disciplinas/">Disciplinas</a></li>  {#Disciplinas, Notas e Avaliações, Comunicação com Alunos #}
                    <li><a href="calendario_academico/">Calendário Acadêmico</a></li> {# Eventos importantes, Reunioes, Feriados#}
                    <li><a href="perfil/">Perfil do professor</a></li> {# Informações pessoais do professor, foto, curriculo#}

                </ul>
            </nav>
        </header>
        <script src="script.js"></script>
</body>
</html>