body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 30px;
    text-align: center;
    
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon {
    margin-right: 1rem;
    
}

.logo {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    width: fit-content;
}
section{
    display: flex;
}
.grids{
    width: 320px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(112, 97, 129);
    margin: auto;
    margin-top: 50px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: scale(1);
    text-align: center;
    line-height: 450px;
    color: white;
}

.grids:hover {
    transform: scale(1.04); 
    transition: transform 0.3s ease; /
}

*{
    padding: 0;
    margin: 0;
    font-family: 'lato', sans-serif;
}
.conteudo{
    left: 50%;
    margin: 0 0 0 -250px;
    position: absolute;
    width: 500px;
    
}
.calendario{
    text-align: center;
}
.conteudo .calendario header{
    position: relative;
}
h2{
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;    
}
.btn-ant,.btn-pro{
    position: absolute;
    top: 50%;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin-top: -16px;
    border: 2px solid#cbd1d2;
    border-radius: 50%;
    color: #cbd1d2;
    font-size: 16px;
    font-weight: bold;    
}
.btn-ant{
    left: 80px;   
}
.btn-pro{
    right: 80px;   
}
.btn-ant:hover,.btn-pro:hover{
    background: #cbd1d2;
    color: #f9f9f9;
}

.calendario table{
    margin-top: 20px;
    border-collapse:collapse ;
}
.calendario thead{
    background: white;
    font-weight: 600;
    text-transform: uppercase;   
}
.calendario td{
    border: 1px solid #cbd1d2;
    height: 71.4px;
    text-align: center;
    width: 71.4px;
}
.calendario tbody td{
    cursor: pointer;
}
.calendario tbody td:hover{
    background: rgba(0, 173, 223, 0.8);
    color: #f9f9f9;
}
.calendario table .dia-atual{
    background: #00addf;
    color: #f9f9f9;
}
.calendario .mes-anterior, .calendario .proximo-mes{
    color: #cbd1d2;
}
.calendario .mes-anterior:hover, .calendario .proximo-mes:hover{
    background: #98a0a0;
}
.event{
    position: relative;
}
.event:after{
    content: '';
    width: 7px;
    height: 7px;
    left: 50%;
    bottom: 7px;
    margin: -3.5px 0 0 -3.5px;
    background: #00addf;
    display: block;
    position: absolute;
    border-radius: 50%;
}
.event:hover::after{
    background: #f9f9f9;
}
.event.dia-atual:after{
    background: #f9f9f9;
}

#table_freq{
    border: #000000;
    background-color: #00addf;
}