{% include "pages/head.html" %} {#Head de todas as páginas estão em head.html#}

    <title>Document</title>

</head>
<body>
    {% include "pages/header.html" %} {#Menu do programa#} 
   <h1>frequencia</h1>

    <table class="table table-border table-stripped">
        <tr>
            <th>Nome</th>
            <th colspan="2">Presença</th>
        </tr>
        <tr>
            <td>a</td>
            <td>1ª aula</td>
            <td>2ª aula</td>
        </tr>
        <tr>
            <td>a</td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>a</td>
            <td><input type="checkbox"></td>
            <td><input type="checkbox"></td>
        </tr>
        
    </table>
</body>
</html>