<header>
    <a href="#" class = 'logo'><h1><i class="fa-solid fa-school icon"></i>Lyceum Escolar</h1></a>
        <nav>
            <ul>
                <li><a href="#">Página Inicial</a></li>
                <li><a href="#">Alunos</a></li>  {# Notas, Presença, Avaliação de desempenho#}
                <li><a href="#">Iniciação Esportiva</a></li>  {# Futsal, Vôlei, Natação e Handebol#}
                <li><a href="#">Calendário Acadêmico</a></li> {# Eventos importantes, Reunioes, Feriados#}
            </ul>
        </nav>
    </header>

    <script src="script.js"></script>

    
